/*
  #chatBox {
  width:20%;
  height:20%;
  border: 1px solid black;
  }

*/

  #actionBox {
  width:20%;
  height:20%;
  border: 1px solid black;
  overflow: scroll;
  }

  .redstone{
  width: 30px;
  height: 30px;
  opacity: 0;
  }

    .bluestone{
  width: 30px;
  height: 30px;
  opacity: 0;
  }

  #dashbutton {
    visibility: hidden;
    position: relative;
    top: 30px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: OrangeRed;
    padding: 20px 28px;

  }

  #passbutton{
    visibility: hidden;
    position: relative;
    top: 60px;
    font-family: Papyrus;
    text-align: center;
    font-size: 25px;
    border-radius: 9px;
    border: 2px solid black;
    background-color: lightsteelblue;
    padding: 20px 28px;


  }



  #fullBoard {
  position: relative;
  top: 10px; left: 130px;
  }

  #board {
  position: absolute;
  width: 950px;
  height: 950px;
  }

  #flourish1 {
  position: absolute;
  top: 529px;
  left: 115px;
  width: 191px;
  height: 191px;
  transform: rotate(59deg);
  }

  #flourish2 {
  position: absolute;
  top: 530.5px;
  left: 648px;
  width: 191px;
  height: 191px;
  transform: rotate(300deg);
  }

  #flourish3 {
  position: absolute;
  top: 71.5px;
  left: 380px;
  width: 191px;
  height: 191px;
  transform: rotate(180deg);
}

  #grow1 {
  position:absolute;
  top: 701.5px;
  left: 399.5px;
  width: 150px;
  height: 150px;
  }

  #grow2 {
  position:absolute;
  top: 245px;
  left: 665.5px;
  width: 150px;
  height: 150px;
  transform: rotate(240deg);
  }

  #grow3 {
  position:absolute;
  top: 242px;
  left: 137px;
  width: 150px;
  height: 150px;
  transform: rotate(120deg);
  }

  #sprout1 {
  position:absolute;
  top: 584px;
  left: 378px;
  width: 93px;
  height: 93px;
  }

  #sprout2 {
  position:absolute;
  top: 393px;
  left: 595px;
  width: 93px;
  height: 93px;
  transform: rotate(240deg);
  }

  #sprout3 {
  position:absolute;
  top: 301px;
  left: 318px;
  width: 93px;
  height: 93px;
  transform: rotate(120deg);
  }




 

  #reda1 {
  position: absolute;
  top: 556px;
  left: 53px;
  }

  #reda2 {
  position: absolute;
  top: 638px;
  left: 148px;
  }

  #reda3 {
  position: absolute;
  top: 663px;
  left: 207.5px;
  }

  #reda4 {
  position: absolute;
  top: 614px;
  left: 250px;
  }

  #reda5 {
  position: absolute;
  top: 559px;
  left: 217px;
  }

  #reda6 {
  position: absolute;
  top: 573.5px;
  left: 154px;
  }

  #reda7 {
  position: absolute;
  top: 615px;
  left: 410px;
  }

  #reda8 {
  position: absolute;
  top: 721px;
  left: 459px;
  }

  #reda9 {
  position: absolute;
  top: 782.5px;
  left: 495px;
  }

  #reda10 {
  position: absolute;
  top: 782.3px;
  left: 423.6px;
  }

  #reda11 {
  position: absolute;
  top: 459px;
  left: 132.5px;
  }

  #reda12 {
  position: absolute;
  top: 446px;
  left: 283px;
  }

  #reda13 {
  position: absolute;
  top: 741.5px;
  left: 296.5px;
  }

  #redb1 {
  position: absolute;
  top: 763.5px;
  left: 745.5px;
  }

  #redb2 {
  position: absolute;
  top: 639px;
  left: 776px;
  }

  #redb3 {
  position: absolute;
  top: 575px;
  left: 769px;
  }

  #redb4 {
  position: absolute;
  top: 561px;
  left: 706px;
  }

  #redb5 {
  position: absolute;
  top: 617px;
  left: 673.5px;
  }

  #redb6 {
  position: absolute;
  top: 665px;
  left: 717px;
  }

  #redb7 {
  position: absolute;
  top: 422px;
  left: 628px;
  }

  #redb8 {
  position: absolute;
  top: 325.6px;
  left: 690.2px;
  }

  #redb9 {
  position: absolute;
  top: 325.6px;
  left: 761px;
  }

  #redb10 {
  position: absolute;
  top: 264px;
  left: 725.5px;
  }

  #redb11 {
  position: absolute;
  top: 744px;
  left: 626px;
  }

  #redb12 {
  position: absolute;
  top: 616.5px;
  left: 542px;
  }

  #redb13 {
  position: absolute;
  top: 458.6px;
  left: 789px;
  }

  #redc1 {
  position: absolute;
  top: 58px;
  left: 579px;
  }

  #redc2 {
  position: absolute;
  top: 97px;
  left: 460.6px;
  }

  #redc3 {
  position: absolute;
  top: 135px;
  left: 408.5px;
  }

  #redc4 {
  position: absolute;
  top: 196.5px;
  left: 428.5px;
  }

  #redc5 {
  position: absolute;
  top: 196.5px;
  left: 493px;
  }

  #redc6 {
  position: absolute;
  top: 135px;
  left: 513px;
  }

  #redc7 {
  position: absolute;
  top: 332px;
  left: 349px;
  }

  #redc8 {
  position: absolute;
  top: 322px;
  left: 232px;
  }

  #redc9 {
  position: absolute;
  top: 261px;
  left: 196.5px;
  }

  #redc10 {
  position: absolute;
  top: 322.4px;
  left: 161px;
  }

  #redc11 {
  position: absolute;
  top: 174.6px;
  left: 622.5px;
  }

  #redc12 {
  position: absolute;
  top: 310.5px;
  left: 559.5px;
  }

  #redc13 {
  position: absolute;
  top: 168px;
  left: 295px;
  }





  #bluea1 {
  position: absolute;
  top: 556px;
  left: 53px;
  }

  #bluea2 {
  position: absolute;
  top: 638px;
  left: 148px;
  }

  #bluea3 {
  position: absolute;
  top: 663px;
  left: 207.5px;
  }

  #bluea4 {
  position: absolute;
  top: 614px;
  left: 250px;
  }

  #bluea5 {
  position: absolute;
  top: 559px;
  left: 217px;
  }

  #bluea6 {
  position: absolute;
  top: 573.5px;
  left: 154px;
  }

  #bluea7 {
  position: absolute;
  top: 615px;
  left: 410px;
  }

  #bluea8 {
  position: absolute;
  top: 721px;
  left: 459px;
  }

  #bluea9 {
  position: absolute;
  top: 782.5px;
  left: 495px;
  }

  #bluea10 {
  position: absolute;
  top: 782.3px;
  left: 423.6px;
  }

  #bluea11 {
  position: absolute;
  top: 459px;
  left: 132.5px;
  }

  #bluea12 {
  position: absolute;
  top: 446px;
  left: 283px;
  }

  #bluea13 {
  position: absolute;
  top: 741.5px;
  left: 296.5px;
  }

  #blueb1 {
  position: absolute;
  top: 763.5px;
  left: 745.5px;
  }

  #blueb2 {
  position: absolute;
  top: 639px;
  left: 776px;
  }

  #blueb3 {
  position: absolute;
  top: 575px;
  left: 769px;
  }

  #blueb4 {
  position: absolute;
  top: 561px;
  left: 706px;
  }

  #blueb5 {
  position: absolute;
  top: 617px;
  left: 673.5px;
  }

  #blueb6 {
  position: absolute;
  top: 665px;
  left: 717px;
  }

  #blueb7 {
  position: absolute;
  top: 422px;
  left: 628px;
  }

  #blueb8 {
  position: absolute;
  top: 325.6px;
  left: 690.2px;
  }

  #blueb9 {
  position: absolute;
  top: 325.6px;
  left: 761px;
  }

  #blueb10 {
  position: absolute;
  top: 264px;
  left: 725.5px;
  }

  #blueb11 {
  position: absolute;
  top: 744px;
  left: 626px;
  }

  #blueb12 {
  position: absolute;
  top: 616.5px;
  left: 542px;
  }

  #blueb13 {
  position: absolute;
  top: 458.6px;
  left: 789px;
  }

  #bluec1 {
  position: absolute;
  top: 58px;
  left: 579px;
  }

  #bluec2 {
  position: absolute;
  top: 97px;
  left: 460.6px;
  }

  #bluec3 {
  position: absolute;
  top: 135px;
  left: 408.5px;
  }

  #bluec4 {
  position: absolute;
  top: 196.5px;
  left: 428.5px;
  }

  #bluec5 {
  position: absolute;
  top: 196.5px;
  left: 493px;
  }

  #bluec6 {
  position: absolute;
  top: 135px;
  left: 513px;
  }

  #bluec7 {
  position: absolute;
  top: 332px;
  left: 349px;
  }

  #bluec8 {
  position: absolute;
  top: 322px;
  left: 232px;
  }

  #bluec9 {
  position: absolute;
  top: 261px;
  left: 196.5px;
  }

  #bluec10 {
  position: absolute;
  top: 322.4px;
  left: 161px;
  }

  #bluec11 {
  position: absolute;
  top: 174.6px;
  left: 622.5px;
  }

  #bluec12 {
  position: absolute;
  top: 310.5px;
  left: 559.5px;
  }

  #bluec13 {
  position: absolute;
  top: 168px;
  left: 295px;
  }
